.sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #545050;
    padding-top: 20px;
    color: white;
}

.sidebar .btn {
    margin: 10px 0;
}

.content {
    margin-left: 260px;
    padding: 20px;
    background-color: #7c7b7b;
    min-height: 100vh;
    color: white;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px
}

.sidebar .btn-danger {
    margin-top: 450px;
}