{% extends 'main/base.html' %}

{% block title %}Вхід користувача{% endblock %}

{% block content %}
<h1 class="text-center">Вхід</h1>
{% if messages %}
<div class="alert alert-danger">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<form method="post" action="">
    {% csrf_token %}

    <div class="mb-3">
        <label for="id_new_password" class="form-label">Новий пароль</label>
        <input type="password" name="new_password" class="form-control" id="id_new_password">
    </div>

    <div class="mb-3">
        <label for="id_confirm_password" class="form-label">Підтвердження нового паролю</label>
        <input type="password" name="confirm_password" class="form-control" id="id_confirm_password">
    </div>

    <button type="submit" class="btn btn-primary w-100">Підтвердити</button>
    {% if error %}
    <p class="text-danger">{{ error }}</p>
{% endif %}
</form>

{% endblock %}