{% extends 'main/base.html' %}

{% block title %}Підтвердження акаунту{% endblock %}

{% block content %}
<h1 class="text-center">Підтвердження акаунту</h1>
<p class="text-center">Щоб відновити пароль, спершу введіть ім'я користувача та підтвердіть електронну адресу, яку ви додали до акаунту.</p>
{% if messages %}
<div class="alert alert-danger">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<form id="recovery-form" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="id_email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="id_email" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Відновити пароль</button>
</form>

{% endblock %}

