{% extends 'main/base.html' %}

{% block title %}Вхід користувача{% endblock %}

{% block content %}
<h1 class="text-center">Вхід</h1>
{% if messages %}
<div class="alert alert-info">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<form method="post" action="">
    {% csrf_token %}

    <div class="mb-3">
        <label for="id_code" class="form-label">6-значний код</label>
        <input type="text" name="code" class="form-control" id="id_code" maxlength="6" pattern="\d{6}" required>
        <small class="form-text text-muted">Введіть 6-значний код.</small>
    </div>

    <button type="submit" class="btn btn-primary w-100">Підтвердити код</button>
    {% if error %}
    <p class="text-danger">{{ error }}</p>
    {% endif %}
</form>

{% endblock %}
