<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Email via JavaScript</title>
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
</head>
<body>
    <h2>Відправка Email через JavaScript</h2>

        <script>
            (function(){
                emailjs.init("GF2tIBT8KS-DS-R9y");
            })();
    
            function sendEmail() {
                emailjs.send("service_ngqdkmb", "template_7nicegb", {
                    to_email: "polanchukoleksandr@gmail.com",
                    subject: "222222222222",
                    message: "11111",
                })
                .then(function(response) {
                    console.log("Email надіслано!", response);
                }, function(error) {
                    console.log("Помилка:", error);
                });
            }

        window.onload = function() {
            sendEmail();
        };
    </script>
</body>
</html>
